In [15]:
n = 23
x = n * (n-1)
y = x /2
z = (364/365) ** y
match = 1 - z

print(match)

0.5004771540365807

In [16]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [17]:
import pandas as pd
df = pd.read_csv('2018_audit_summary.csv')
df.head()

,audit_id,request_channel,audit_type,received_date,finished_date,num_records_reviewed,audit_team,tool
0,298,Grocery,Data_Extraction,1/2/18,1/10/18,1437,Internal,Manual
1,299,Grocery,Product_Verification,1/4/15,1/19/18,719,Internal,Manual
2,300,Grocery,Redemption_Verification,1/4/18,1/10/18,551,Internal,Manual
3,301,Grocery,Redemption_Verification,1/5/18,1/12/18,541,Internal,Manual
4,302,Grocery,Redemption_Verification,1/11/18,1/24/18,399,Internal,Manual

In [20]:
from sqlalchemy import create_engine

disk_engine = create_engine('sqlite:///audit2.sqlite')
df.to_sql('audit_type', disk_engine, if_exists='append')

In [21]:
df1 = pd.read_sql_query('SELECT * FROM audit_type',disk_engine)
df1.head()

,index,audit_id,request_channel,audit_type,received_date,finished_date,num_records_reviewed,audit_team,tool
0,0,298,Grocery,Data_Extraction,1/2/18,1/10/18,1437,Internal,Manual
1,1,299,Grocery,Product_Verification,1/4/15,1/19/18,719,Internal,Manual
2,2,300,Grocery,Redemption_Verification,1/4/18,1/10/18,551,Internal,Manual
3,3,301,Grocery,Redemption_Verification,1/5/18,1/12/18,541,Internal,Manual
4,4,302,Grocery,Redemption_Verification,1/11/18,1/24/18,399,Internal,Manual

In [33]:
df.sort_values("num_records_reviewed", ascending = True)
df.head()

,audit_id,request_channel,audit_type,received_date,finished_date,num_records_reviewed,audit_team,tool
92,392,Retail,Launch_Review,7/17/18,8/3/18,0,Leadership,Looker
60,359,Retail,Launch_Review,4/25/18,5/10/18,0,Leadership,Looker
58,357,Retail,Launch_Review,4/18/18,5/1/18,0,Leadership,Looker
55,354,Retail,Launch_Review,4/5/18,4/12/18,0,Leadership,Looker
84,383,Retail,Data_Verification,6/4/18,6/29/18,0,Internal,Looker